
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>FULLFACEStore</title>
    <style>
        .col-md-2 {
            width: 12.5% !important;
        }
    </style>
    <!-- Bootstrap Core CSS -->
    <link href="/Assets/Admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="/Assets/Admin/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/Assets/Admin/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="/Assets/Admin/vendor/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/Assets/Admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <style>
                    .logo_products img{
                        width: 200px;
                        height: 56px;
                        padding-top: 1px;
                    }
                </style>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->

                @if (TempData["OrderAlert"] != null)
                {
                    <li class="dropdown open">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                            <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-alerts" style="width:250px;">
                            <li>
                                <a href="/Admin/Order/Index?isWaiting=true">
                                    <div>
                                        <i class="fa fa-truck fa-fw"></i> @TempData["OrderAlert"] Đơn hàng chưa xử lý

                                    </div>
                                </a>
                            </li>
                        </ul>
                        <!-- /.dropdown-alerts -->
                    </li>
                }
                else
                {
                    <li class="dropdown open">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                            <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-alerts" style="width:250px;">
                            <li>
                                <a href="/Admin/Order/ViewOrder?isWaiting=true">
                                    <div>
                                        <i class="fa fa-signal"></i> Thống kê đơn hàng đã giao
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <!-- /.dropdown-alerts -->
                    </li>
                }

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="/Admin/User/ChangePass/1"><i class="fa fa-key"></i> Đổi mật khẩu</a>
                            <a href="/Admin/Login/Logout"><i class="fa fa-sign-out fa-fw"></i> Đăng xuất</a>
                        </li>
                    </ul>

                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/Admin/Home/Index"><i class="fa fa-dashboard fa-fw"></i> Trang chủ</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-group fa-fw"></i> Người dùng<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/Admin/Role/Index">Nhóm người dùng</a>
                                </li>
                                <li>
                                    <a href="/Admin/User/Index">Người dùng</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-book fa-fw"></i> Quản lý sản phẩm<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/Admin/ProductCategory/Index">Danh mục</a>
                                </li>
                                <li>
                                    <a href="/Admin/Product/Index">Sản phẩm</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                        <li>
                            <a href="/Admin/Order/Index"><i class="fa fa-truck fa-fw"></i> Đơn hàng</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-book fa-fw"></i> Thống kê<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/Admin/Analytics/ProductQuantitySold">Sản phẩm bán chạy</a>
                                </li>
                                <li>
                                    <a href="/Admin/Analytics/ProductQuantityInStock">Sản phẩm còn lại</a>
                                </li>
                                <li>
                                    <a href="/Admin/Analytics/Order">Đơn hàng</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">@RenderSection("header", true)</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    @if (TempData["AlertMessage"] != null)
                    {
                        <div id="alertbox" class="alert @TempData["AlertType"]">
                            @TempData["AlertMessage"]
                        </div>

                    }
                    @RenderBody()
                </div>
                <!-- /.row -->
            </div>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->
        <!-- jQuery -->
        <script src="/Assets/Admin/vendor/jquery/jquery.min.js"></script>
        <script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="/Assets/Admin/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!-- Metis Menu Plugin JavaScript -->
        <script src="/Assets/Admin/vendor/metisMenu/metisMenu.min.js"></script>
        <script src="/Assets/Admin/ckeditor_full/ckeditor.js"></script>
        <!-- Morris Charts JavaScript -->
        @*<script src="/Assets/Admin/vendor/raphael/raphael.min.js"></script>*@
        @*<script src="/Assets/Admin/vendor/morrisjs/morris.min.js"></script>*@
        @*<script src="/Assets/Admin/data/morris-data.js"></script>*@
        <!-- Custom Theme JavaScript -->
        <script src="/Assets/Admin/dist/js/sb-admin-2.js"></script>
        <script type="text/javascript" language="javascript">
            $("#alertbox").delay(1000).slideUp();
        </script>
        <script src="/Scripts/OrderController.js"></script>
        <script src="~/Scripts/ProductController.js"></script>
        @RenderSection("jsfooter", false)
    </div>
</body>
</html>
